[Desktop Entry]
Type=Application
Version=1.1
Name=Clipboard History
GenericName=Clipboard Manager
Comment=Windows 11-style Clipboard History Manager
Exec=sh -c "sleep 5 && '/usr/bin/win11-clipboard-history' --background"
Icon=win11-clipboard-history
Terminal=false
Categories=Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
